:root {
  --primaryColor: #f1f1f1;
  --black: #222;
  --black2: #555;
  --black3: #252525;
  --black4: #000;
  --black5: #212529;
  --orange: #eb0028;
  --white: #fff;
  --gray: #959595;
  --gray2: #666;
  --gray3: #ccc;
  --yellow: #ffcc00;
  --green: #59b210;
  --secondaryColor: #2b1f4d;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body,
input {
  font-size: 1.6rem;
  font-weight: 400;
  font-family: "Archivo", sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h3,
h4 {
  font-weight: 500;
}

/* ---- Header ---- */

.header {
  position: relative;
}

.container {
  width: 100%;
  max-width: 117rem;
  margin: 0 auto;
  padding: 0 1.6rem;
}

/* -- Navigation --  */

.navigation {
  position: relative;
  height: 7rem;
  box-shadow: 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 7rem;
  width: 100%;
  padding: 0 1rem;
}

.fix_nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--white);
  z-index: 1500;
}

.nav_logo a {
  font-size: 2.5rem;
  color: var(--black);
  padding: 1.6rem;
  font-weight: 700;
}

.nav_hamburger {
  display: none;
  cursor: pointer;
}

.nav_hamburger svg {
  height: 2.3rem;
  width: 2.3rem;
}

.menu_top {
  display: none;
}

.nav_menu {
  width: 50%;
}

.nav_list {
  display: flex;
  align-items: center;
  height: 100%;
  width: 50%;
}

.nav_item:not(:last-child) {
  margin-right: 1.6rem;
}

.nav_list .nav_link:link,
.nav_list .nav_link:visited {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: var(--black);
  transition: color 0.3s ease-in-out;
}

.nav_list .nav_link:hover {
  color: var(--orange);
}

.nav_icons {
  display: flex;
  position: relative;
}

.nav_icons .icon_item svg {
  width: 1.6rem;
  height: 1.6rem;
}

.nav_icons .icon_item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.7rem;
  border: 1px solid var(--black);
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.nav_icons .icon_item:link,
.nav_icons .icon_item:visited {
  color: var(--black);
}

.nav_icons .icon_item:hover {
  background-color: var(--orange);
  border: 1px solid var(--black);
}

.nav_icons .icon_item:not(:last-child) {
  margin-right: 1rem;
}

.nav_icons #cart_total {
  font-size: 1rem;
  position: absolute;
  top: 2px;
  right: -6px;
  background-color: var(--orange);
  padding: 0.2rem 0.4rem;
  border-radius: 100%;
  color: var(--primaryColor);
}

/* --- Navigation Media Query ---  */

@media only screen and (max-width: 768px) {
  .nav_menu {
    position: fixed;
    top: 0;
    left: -30rem;
    width: 0;
    background-color: var(--white);
    z-index: 10000;
    height: 100%;
    transition: all 0.3s;
  }

  .nav_menu.open {
    left: 0;
    width: 30rem;
  }

  .nav_logo {
    width: 50%;
  }

  .nav_hamburger {
    display: block;
  }

  .menu_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--orange);
    padding: 1.8rem 1rem;
  }

  .menu_top svg {
    height: 1.6rem;
    width: 1.6rem;
    fill: var(--primaryColor);
  }

  .nav_category {
    color: var(--white);
    font-size: 2.3rem;
    font-weight: 700;
  }

  .nav_list {
    flex-direction: column;
    align-items: flex-start;
    padding: 1.6rem 1rem;
  }

  .nav_item:not(:last-child) {
    margin-right: 0;
  }

  .nva_item {
    width: 100%;
  }

  .nav_list .nav_link:link,
  .nav_list .nav_link:visited {
    padding: 1.6rem 0;
    width: 100%;
    color: var(--gray2);
  }

  body.active::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--black) none no-repeat 0 0;
    opacity: 0.7;
    z-index: 1000;
    transition: 0.8s;
  }
}

@media only screen and (max-width: 568px) {
  .nav_icons .icon_item svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  .nav_icons .icon_item {
    padding: 0.5rem;
  }
}

/* --- Hero Area ---  */

.hero,
.hero .glide__slides {
  background-color: var(--primaryColor);
  position: relative;
  width: 100%;
  height: 100vh;
}

.hero .glide__bullet {
  background-color: var(--black);
  width: 1.2rem;
  height: 1.2rem;
}

.hero .glide__arrow {
  padding: 1.5rem 1.7rem;
  opacity: 0;
  border: none;
  background-color: var(--gray);
  border-radius: 50%;
  transition: all 0.5s ease-in-out 0.2s;
}

.glide__arrow:hover {
  background-color: var(--black3);
}

.glide__arrow--left {
  left: 20rem;
}

.glide__arrow--right {
  position: absolute;
  right: 20rem;
}

.hero:hover .glide__arrow {
  opacity: 1;
}

.hero:hover .glide__arrow--left {
  left: 23rem;
}

.hero:hover .glide__arrow--right {
  right: 23rem;
}

.hero .glide__arrow svg {
  height: 1.8rem;
  width: 1.8rem;
  fill: var(--primaryColor);
}

.hero_center {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  max-width: 114rem;
  margin: 0 auto;
  height: 100%;
  padding-top: 3rem;
}

.hero__left {
  padding: 0 3rem;
  flex: 0 0 50%;
}

.hero_btn {
  display: inline-block;
  font-weight: 700;
  font-size: 1.4rem;
  background-color: var(--black);
  color: var(--primaryColor);
  cursor: pointer;
  margin-top: 1rem;
  padding: 1.5rem 4rem;
  border: 1px solid var(--black);
  transition: all 0.3s ease-in-out;
}

.hero_btn:focus {
  outline: none;
}

.hero_left .hero_btn:hover {
  font-weight: 700;
  background-color: transparent;
  color: var(--black);
}

.hero_left h1 {
  margin: 1rem 0;
}

.hero_left p {
  margin-bottom: 1rem;
}

.hero_right {
  flex: 0 0 50%;
  position: relative;
  text-align: center;
}

/* --- Hero Area Media Query ---  */
@media only screen and (max-width: 999px) {
  .hero_center {
    flex-direction: column;
    text-align: center;
  }

  .hero_right {
    top: 50%;
    position: absolute;
  }

  .hero_left {
    position: absolute;
    padding: 0 1rem;
    top: 20%;
  }

  .hero_right img {
    width: 55%;
  }

  .hero_btn {
    padding: 1.1rem 2.8rem;
  }

  .hero .glide__arrows {
    display: none;
  }
}

/* --- Collections ---  */
.section {
  padding: 3rem 0;
}

.collection {
  margin: 3rem 0;
}

.collection_container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  padding: 0 1.6rem;
}

.collection_box {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  flex: 0 0 48%;
  height: 30rem;
  background-color: var(--primaryColor);
}

.collection_box:not(:last-child) {
  margin-right: 1.6rem;
}

.img_container {
  width: 25rem;
  text-align: center;
}

.collection_box img.collection_01 {
  width: 60%;
}

.collection_box img.collection_02 {
  width: 75%;
}

.collection_content {
  flex: 0 0 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.collection_content span {
  color: var(--black);
}

.collection_content h1 {
  margin-top: 0.5rem;
}

.collection_content a:link,
.collection_content a:visited {
  font-weight: 700;
  display: inline-block;
  padding: 1rem 1.4rem;
  margin-top: 1.3rem;
  border-radius: 3rem;
  color: var(--primaryColor);
  border: 2px solid var(--secondaryColor);
  background-color: var(--secondaryColor);
  transition: all 0.3s ease-in-out;
}

.collection_content a:hover {
  background-color: transparent;
  color: var(--secondaryColor);
}

/* --- Collections Media Query ---  */

@media only screen and (max-width: 999px) {
  .collection_container {
    width: 80%;
    margin: 0 auto;
    flex-direction: column;
    height: 65rem;
  }

  .collection_box {
    width: 100%;
    margin: 0 auto;
  }

  .collection_box:not(:last-child) {
    margin: 0 0 1.6rem;
  }
}

@media only screen and (max-width: 568px) {
  .collection {
    margin: 0;
    position: relative;
  }

  .collection_container {
    width: 100%;
    height: 50rem;
    text-align: center;
    flex-direction: column;
    justify-content: space-around;
  }

  .collection_box {
    justify-content: space-around;
    height: 15rem;
  }

  .collection_content {
    flex: 0 0 30%;
  }

  .collection_data span {
    font-size: 1.2rem;
  }

  .collection_data h1 {
    font-size: 2rem;
  }
}

/* --- Latest Products ---  */

.title_container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto 6rem;
  padding: 2rem 0;
  background-color: var(--primaryColor);
}

.section_title:not(:last-child) {
  margin-right: 1.5rem;
}

.section_title {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.section_title h1 {
  font-size: 1.9rem;
  font-weight: inherit;
}

.section_title:hover .primary_title,
.section_title:hover span.dot,
.section_title:hover span.dot::before {
  opacity: 1;
}

.section_title .primary_title {
  opacity: 0.6;
  padding-left: 0.5rem;
  transform: opacity 0.3 ease-in-out;
}

.section_titles:not(:last-child) {
  margin-right: 1.5rem;
}

span.dot {
  opacity: 0.6;
  padding: 0.45rem;
  position: relative;
  border: 1px solid var(--black);
  cursor: pointer;
  transform: opacity 0.3s ease-in-out;
}

span.dot::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  border: 1px solid var(--black);
  background-color: var(--black);
  margin: 1px;
  opacity: 0.6;
}

.section_title.active span.dot {
  opacity: 1;
}

.section_title.active span.dot::before {
  opacity: 1;
}

.section_title.active .primary_title {
  opacity: 1;
}

.product {
  position: relative;
  text-align: center;
}

.product ul svg {
  width: 1.7rem;
  height: 1.7rem;
  fill: var(--white);
}

.product ul {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 35%;
  left: 50%;
  width: 17rem;
  height: 5rem;
  background-color: rgba(255, 255, 255, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: translate(-50%, -50%) scale(0.7);
  transition: all 0.5s ease-in-out;
}

.product:hover ul {
  opacity: 1;
  visibility: visible;
  transform: translate(-50%, -50%) scale(1);
}

.product ul a:not(:last-child) {
  margin-right: 1.6rem;
}

.product ul a {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--orange);
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  transition: 0.5s;
}

.product ul a:hover {
  background-color: var(--black);
}

.product ul a::before {
  content: "";
  position: absolute;
  top: -0.6rem;
  left: -0.6rem;
  height: 0;
  width: 0;
  border-top: 3px solid var(--orange);
  border-left: 3px solid var(--orange);
  transition: 0.5s ease-in-out;
  opacity: 0;
  z-index: 1;
}

.product ul a::after {
  content: "";
  position: absolute;
  bottom: -0.6;
  right: -0.6;
  width: 0;
  height: 0;
  border-bottom: 3px solid var(--orange);
  border-right: 3px solid var(--orange);
  opacity: 0;
  transition: 0.5s ease-in-out;
  z-index: 1;
}

.product ul a:hover::before {
  width: 126%;
  height: 126%;
  border-top: 3px solid var(--orange);
  border-left: 3px solid var(--orange);
  opacity: 1;
}

.product ul a:hover::after {
  width: 126%;
  height: 126%;
  border-bottom: 3px solid var(--orange);
  border-right: 3px solid var(--orange);
  opacity: 1;
}

@media only screen and (max-width: 568px) {
  .title_container {
    flex-direction: column;
  }

  .section_titles:not(:last-child) {
    margin: 0 0 1.3rem;
  }
}

.product {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 25rem;
}

.product_header {
  height: 25rem;
  padding: 0.5rem 0;
  text-align: center;
}

.product_header img {
  max-width: 100%;
  max-height: 100%;
}

.product_footer {
  padding: 1rem 0;
}

.product_footer .product_price {
  padding-bottom: 1rem;
}

.product_footer h3 {
  padding: 1rem 0;
}

.rating svg {
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--yellow);
}

.product_btn {
  display: inline-block;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding: 1.4rem 0;
  border: 1px solid var(--black);
  color: var(--black);
  cursor: pointer;
}

.product_btn:focus {
  outline: none;
}

.product_btn:hover {
  background-color: var(--black);
  color: var(--primaryColor);
}

.latest_products .glide__arrow,
.related_products .glide__arrow {
  background-color: transparent;
  border: 1px solid var(--primaryColor);
  outline: none;
  border-radius: 0;
  box-shadow: 0 0 0.25em 0.5em rgba(0, 0, 0, 0);
  top: -7%;
  left: 80%;
}

.latest_products .glide__arrow:hover,
.related_products .glide__arrow:hover {
  background-color: var(--orange);
  border: 1px solid var(--primaryColor);
}

.latest_products .glide__arrow--left,
.related_products .glide__arrow--left {
  left: 75%;
}

.latest_products .glide__arrow--right,
.related_products .glide__arrow--right {
  right: 5%;
}

.latest_products .glide__arrow svg,
.related_products .glide__arrow svg {
  width: 1.5rem;
  height: 1.5rem;
  fill: var(--gray);
}

/* --- Latest Product Media Query ---  */

@media only screen and (max-width: 999px) {
  .product_header {
    height: 25rem;
  }

  .product {
    width: 70%;
    margin: 0 auto;
  }

  .latest_products .glide__arrow--left,
  .related_products .glide__arrow--left {
    left: 73%;
  }

  .latest_products .glide__arrow--right,
  .related_products .glide__arrow--right {
    right: 7%;
  }
}

@media only screen and (max-width: 768px) {
  .latest_products .glide__arrow--left,
  .related_products .glide__arrow--left {
    left: 70%;
  }
}

@media only screen and (max-width: 568px) {
  .product_header {
    height: 20rem;
  }

  .product_header img {
    width: 50%;
  }

  .product_footer h3 {
    font-size: 1.4rem;
  }

  .product_btn {
    width: 100%;
    font-size: 1rem;
    padding: 0.8rem 0;
    border: 1px solid var(--black);
  }

  .product ul a {
    width: 2.7rem;
    height: 2.7rem;
  }

  .product ul {
    top: 25%;
    left: 50%;
    width: 16rem;
    height: 4rem;
  }

  .rating svg {
    width: 1.3rem;
    height: 1.3rem;
  }

  .latest_products .glide__arrow--left,
  .related_products .glide__arrow--left {
    left: 66%;
  }

  .latest_products .glide__arrow--right,
  .related_products .glide__arrow--right {
    left: 85%;
  }
}

@media only screen and (max-width: 460px) {
  .product_header {
    height: 12rem;
  }

  .product_footer {
    font-size: 1.2rem;
  }
}

/* --- Category Center ---  */
.category_center {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 3rem 2rem;
}

@media only screen and (max-width: 999px) {
  .category_center {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 568px) {
  .category_center {
    grid-template-columns: 1fr 1fr;
  }

  .category_products .product_header {
    height: 10rem;
  }

  .category_products .product_header img {
    object-fit: contain;
  }
}

/* --- Pop Up ---  */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: 0.3s;
  transform: scale(1);
  z-index: 9999;
}

.popup_content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 90%;
  height: 55rem;
  margin: 0 auto;
  transform: translate(-50%, -50%);
  padding: 1.6rem;
  display: table;
  overflow: hidden;
  background-color: var(--white);
}

.popup_close {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 1.5rem;
  background-color: var(--primaryColor);
  border-radius: 50%;
  cursor: pointer;
}

.popup_close svg {
  width: 1.7rem;
  height: 1.7rem;
}

.popup_left {
  display: table-cell;
  width: 50%;
  height: 100%;
  vertical-align: middle;
}

.popup_right {
  display: table-cell;
  width: 50%;
  /* height: 100%; */
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup-img_container {
  width: 100%;
  overflow: hidden;
}

.popup-img_container img.popup_image {
  display: block;
  width: 60rem;
  height: 45rem;
  max-width: 100%;
  border-radius: 1rem;
  object-fit: cover;
}

.right_content {
  text-align: center;
  width: 85%;
  margin: 0 auto;
}

.right_content h1 {
  font-size: 4rem;
  color: #000;
  margin-bottom: 1.6rem;
}

.right_content h1 span {
  color: var(--green);
}

.right_content p {
  font-size: 1.6rem;
  color: var(--gray2);
  margin-bottom: 1.6rem;
}

.popup_form {
  width: 100%;
  padding: 2rem 0;
  text-indent: 1rem;
  margin-bottom: 1.6rem;
  border-radius: 3rem;
  background-color: var(--primaryColor);
  border: none;
}

.popup_form:focus {
  outline: none;
}

.right_content a:link,
.right_content a:visited {
  display: inline-block;
  padding: 1.8rem 5rem;
  border-radius: 3rem;
  font-weight: 700;
  color: var(--white);
  background-color: var(--black);
  border: 1px solid var(--gray2);
  transition: 0.3s;
}

.right_content a:hover {
  background-color: var(--green);
  border: 1px solid var(--gra2);
  color: var(--black);
}

.hide_popup {
  transform: scale(0.2);
  opacity: 0;
  visibility: hidden;
}

/* -- Go To up --  */
.goto_top:link,
.goto_top:visited {
  position: fixed;
  right: 2%;
  bottom: 10%;
  padding: 0.8rem 1.4rem;
  border-radius: 1rem;
  background-color: var(--orange);
  visibility: hidden;
  cursor: pointer;
  transition: 0.3s;
  animation: bounce 2s ease-in-out infinite;
}

.show_top:link,
.show_top:visited {
  visibility: visible;
  z-index: 2000;
}

@keyframes bounce {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

.goto_top svg {
  width: 1.3rem;
  height: 1.3rem;
  fill: var(--white);
}

.goto_top:hover {
  background-color: var(--black);
}
@media only screen and (max-width: 1200px) {
  .right_content {
    width: 100%;
  }

  .right_content h1 {
    font-size: 3.5rem;
    margin-bottom: 1.3rem;
  }
}

@media only screen and (max-width: 999px) {
  .popup_right {
    width: 100%;
  }

  .popup_left {
    display: none;
  }

  .right_content h1 {
    font-size: 5rem;
  }
}

@media only screen and (max-width: 768px) {
  .right_content h1 {
    font-size: 4rem;
  }

  .right_content p {
    font-size: 1.6rem;
  }

  .popup_form {
    width: 90%;
    margin: 0 auto;
    padding: 1.8rem 0;
    margin-bottom: 1.5rem;
  }

  .goto_top:link,
  .goto_top:visited {
    right: 5%;
    bottom: 5%;
  }
}

@media only screen and (max-width: 568px) {
  .popup_right {
    padding: 0 1.6rem;
  }

  .right_content {
    width: 100%;
  }

  .popup_content {
    height: 35rem;
    width: 90%;
    margin: 0 auto;
  }

  .right_content h1 {
    font-size: 3rem;
  }

  .right_content p {
    font-size: 1.4rem;
  }

  .popup_form {
    width: 100%;
    padding: 1.5rem 0;
    margin-bottom: 1.3rem;
  }

  .right_content a:link,
  .right_content a:visited {
    padding: 1.5rem 3rem;
  }

  .popup_close {
    top: 1rem;
    right: 1rem;
    padding: 1.3rem;
  }

  .popup_close svg {
    width: 1.4rem;
    height: 1.4rem;
  }
}

/* --- Facility Section ---  */
.facility_section {
  background-color: var(--primaryColor);
  padding: 6rem 0;
}

.facility_container {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.facility-img_container svg {
  width: 3rem;
  height: 3rem;
  transition: 1s;
  perspective: 4000;
}

.facility_box {
  text-align: center;
}

.facility-img_container {
  position: relative;
  display: inline-block;
  line-height: 9.5rem;
  width: 8rem;
  height: 8rem;
  border-radius: 50%;
  border: 1.5px solid var(--white);
  z-index: 1;
  margin-bottom: 1.6rem;
}

.facility-img_container::before {
  content: "";
  position: absolute;
  display: inline-block;
  border-radius: 50%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0.7rem;
  background-color: var(--white);
  z-index: -1;
}

.facility_box:hover svg {
  transform: rotateY(180deg);
  line-height: 9.5rem;
}

/* --- Facility Section Media Query ---  */
@media only screen and (max-width: 998px) {
  .facility_container {
    grid-template-columns: 1fr 1fr;
    row-gap: 3rem;
  }
}

@media only screen and (max-width: 568px) {
  .facility_container {
    grid-template-columns: 1fr;
  }

  .facility-img_container {
    width: 7rem;
    height: 7rem;
    line-height: 8.5rem;
  }

  .facility_container p {
    font-size: 1.4rem;
  }
}

/* --- Testimonial ---  */

.testimonial {
  position: relative;
  background: url("./images/testimonial.jpg") center/cover no-repeat;
  height: 50rem;
  padding: 5rem 0;
  text-align: center;
  z-index: 1;
}

.testimonial::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.9);
  z-index: -1;
}

.client_image {
  margin-bottom: 3rem;
}

.client_image img {
  width: 7rem;
  height: 7rem;
  max-width: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.testimonial_box {
  width: 90%;
  margin: 0 auto;
  height: 100%;
  color: #ccc;
}

.testimonial_box p {
  width: 70%;
  margin: 0 auto;
  line-height: 2.5rem;
  font-style: italic;
  font-size: 1.5rem;
  margin-bottom: 3rem;
}

.client_info h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

.client_info span {
  font-size: 1.4rem;
}

.testimonial .glide__bullets {
  bottom: -20%;
}

/* --- Testimonial Media Query ---  */

@media only screen and (max-width: 1200px) {
  .testimonial_box {
    height: 100%;
  }

  .testimonial_box p {
    width: 90%;
    margin: 0 auto;
    line-height: 2.2rem;
    margin-bottom: 3rem;
  }

  .client_image {
    margin-bottom: 2.5rem;
  }
}

@media only screen and (max-width: 568px) {
  .testimonial {
    height: 100%;
    padding: 4rem 0 5rem;
    text-align: center;
    z-index: 1;
  }

  .testimonial_box {
    height: 100%;
  }

  .testimonial_box p {
    width: 100%;
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 2rem;
  }

  .testimonial_box span {
    margin-bottom: 1rem;
  }

  .testimonial .glide__bullets {
    bottom: -8%;
  }
}

/* --- News Section ---  */

.news {
  padding-bottom: 8rem;
}

.new_card {
  background-color: var(--primaryColor);
  width: 95%;
  margin: 0 auto;
}

.new_card:not(:last-child) {
  margin-right: 1rem;
}

.card_footer {
  padding: 3rem 1.4rem;
}

.card_footer h3 {
  font-size: 2.5rem;
  font-weight: 600;
  color: var(--black);
  margin-bottom: 1rem;
}

.card_footer span {
  display: inline-block;
  margin-bottom: 1rem;
  color: var(--black2);
}

.card_footer p {
  font-size: 1.5rem;
  color: var(--black2);
  margin-bottom: 1.6rem;
  line-height: 2.7rem;
}

.card_footer a:link,
.card_footer a:visited {
  display: inline-block;
  padding: 1.4rem 4rem;
  border: 1px solid var(--black);
  color: var(--black);
  transition: all 0.3s;
}

.card_footer a:hover {
  border: 1px solid var(--black);
  color: var(--white);
  background-color: var(--black);
}

/* --- NewsLetter Section ---  */

.newsLetter {
  padding: 6rem 0;
  border: 1px solid var(--primaryColor);
}

.newsLetter_content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.newsLetter_data h3 {
  font-size: 2.5rem;
  font-weight: inherit;
  margin-bottom: 1rem;
}

.newsLetter_data p {
  font-size: 1.5rem;
  color: var(--white);
}

.newsLetter_email {
  font-size: 1.4rem;
  display: inline-block;
  width: 37rem;
  padding: 1.6rem;
  background-color: var(--primaryColor);
  border: none;
  text-indent: 1rem;
}

.newsLetter_email:focus {
  outline: none;
}

.newsLetter_link:link,
.newsLetter_link:visited {
  display: inline-block;
  padding: 1.4rem 3rem;
  margin-left: -0.5rem;
  background-color: var(--black);
  color: var(--white);
  transition: 0.3s;
}

.newsLetter_link:hover {
  background-color: #000;
}

/* --- NewsLetter Section Media Query --- */

@media only screen and (max-width: 999px) {
  .newsLetter {
    padding: 6rem 4rem;
  }

  .newsLetter_content {
    flex-direction: column;
    align-items: center;
  }

  .newsLetter_email {
    width: 45rem;
  }

  .newsLetter_data {
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .newsLetter_content {
    justify-content: center;
    text-align: center;
  }

  .newsLetter_email {
    display: block;
    margin-bottom: 1.6rem;
  }

  .newsLetter_data h3 {
    font-size: 1.6rem;
  }

  .newsLetter_data p {
    font-size: 1rem;
  }

  .newsLetter_link:link,
  .newsLetter_link:visited {
    padding: 1.2rem 2rem;
    margin-left: 0rem;
  }
}


/* --- Footer ---  */

.footer {
  background-color: var(--black);
  padding: 6rem 1rem;
  line-height: 3rem;
}

.footer-top_box span svg{
  width: 1.6rem;
  height: 1.6rem;
  fill: var(--gray3);
}

.footer-top_box span {
  margin-right: 1rem;
}

.footer_top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  color: var(--gray3);
}

.footer-top_box a:link,
.footer-top_box a:visited {
  display: block;
  color: var(--gray);
  font-size: 1.4rem;
  transition: 0.6s;
}

.footer-top_box a:hover {
  color: var(--orange);
}

.footer-top_box div {
  color: var(--gray);
  font-size: 1.4rem;
}

.footer-top_box h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 998px) {
  .footer_top {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 2rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer_top {
    grid-template-columns: 1fr;
    text-align: center;

  }
}